<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a21240068.isec.nerdquiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="a21240068.isec.nerdquiz.Core.NerdQuizApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".Core.SocketService" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AuthenticationActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".SearchPlayerActivity" />
        <activity android:name=".TakePhotoActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".NewGameActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".FinishGameActivity"></activity>
    </application>

</manifest>