nerd.quiz/*.iml
nerd.quiz/.gradle
nerd.quiz/local.properties
nerd.quiz/.idea/workspace.xml
nerd.quiz/.idea/libraries
nerd.quiz/.DS_Store
nerd.quiz/build
nerd.quiz/captures
nerd.quiz/.externalNativeBuild
